*, html{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*algemene css*/

body{
    background-color: var(--Magnolia, #F8F2FF);
    font-family: 'Palanquin', 'Open Sans', sans-serif;
    color: #0E002D;
}

::-webkit-scrollbar-thumb {
    background-color: var(--Midnight-Violet, #0E002D);
    outline: none;
    border-radius: 2em;
}

h1, h2, h3, h4{
    color: var(--Magnolia, #F8F2FF);
    font-style: normal;
    line-height: normal;
}

h1{
    font-size: 1.250rem;
    font-weight: 800;
}

h2{
    font-weight: 700;
    font-size: 1.125rem;
}

h3{
    font-weight: 600;
    font-size: 1.125rem;
}

h4{
    font-weight: 500;
    font-size: 1.125rem;
}

p{
    line-height: 150%;
    font-size: 1.08rem;
    font-weight: 400;
    color: var(--Midnight-Violet, #0E002D);
}

figure{
    color: var(--Mauve, #D0BAFF);
    font-size: 0.9rem;
}

iframe{
    width: 22em;
    height: 14em;
}

iframe.prototype{
    height: 80vh;
    width: 80vw;
}

a{
    text-decoration: none;
    color: var(--Magnolia, #F8F2FF);
}

a.link-dark{
    color: var(--Midnight-Violet, #0E002D);
}

a.light-link{
    color: var(--Morning-blues, #5115D5);
    background: linear-gradient(#5115D5 0%, #5115D5 100%); 
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1em 0.15em;
    text-decoration: none;
    transition: background-size .2s cubic-bezier(0,1,.35,1);
}

a.light-link:hover{
    background-size: 1em 1.4em;    
    color: var(--Magnolia, #F8F2FF);
}

a.link, a.link-dark{
    background: linear-gradient(#D0BAFF 0%, #D0BAFF 100%); 
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1em 0.15em;
    text-decoration: none;
    transition: background-size .2s cubic-bezier(0,1,.35,1);
}

a.link:hover, a.link-dark:hover{
    background-size: 1em 1.4em;    
    color:#0E002D;
}

a.button-dark{
    border-radius: 50em;
    padding: 0.5em 0.8em;;
    background-color: var(--Midnight-Violet, #0E002D);
    background-image: url(../img/dark-button-background.png);
    background-size: cover;
    font-weight: 600;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 7em;
}

a.button-light{
    border-radius: 50em;
    padding: 0.5em 0.8em;
    color: var(--Midnight-Violet, #0E002D);
    background-color: var(--Magnolia, #F8F2FF);
    background-image: url(../img/light-button-background.png);
    background-size: 300%;
    background-position: center;
    font-weight: 600;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 7em;
}

a.button-dark, a.button-light{
    margin: .6em 0 0 0;
    transition: .2s cubic-bezier(0,1,.35,1);
}

a.button-dark:hover, a.button-light:hover{
    transform: scale(1.1);
}

img{
    max-width: 90vw;
}

.toZoom {
    border-radius: 5px;
    cursor: pointer;
    transition: .2s cubic-bezier(0,1,.35,1);
}
  
.toZoom:hover {
    transform: scale(1.01);
}
  
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    padding-top: 20vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(14,0,45); /* Fallback color */
    background-color: rgba(14,0,45,0.7); /* Black w/ opacity */
    z-index: 9999;
    position: fixed;
}
  
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80vw;
}
  
/* Add Animation */
.modal-content {  
animation-name: zoom;
animation-duration: 0.6s;
}

body.detail > main section figure img.modal-content{
width: 80vw;
}

@keyframes zoom {
from {transform: scale(0.2)} 
to {transform: scale(0.9)}
}
  
/* The Close Button */
.close {
position: absolute;
top: 15px;
right: 35px;
color: #F8F2FF;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #F8F2FF;
text-decoration: none;
cursor: pointer;
}

/*nav css*/
nav{
    z-index: 1000;
}

header > nav{
    background-color: var(--Midnight-Violet, #0E002D);
    background-image: url(../img/dark-nav-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
}

header > nav > a{
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav > a > img{
    width: 2em;
}

header > nav > ol{
    display: flex;
    justify-content: space-between;
}

header > nav > ol > li{
    list-style: none;
}

header > nav > ol > li a{
    margin: 0 0.5em;
    background: linear-gradient(#D0BAFF 0%, #D0BAFF 100%); 
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1em 0em;
    text-decoration: none;
    transition: background-size .2s cubic-bezier(0,1,.35,1);
}
header > nav > ol > li a:hover{
    background-size: 1.2em 1.4em;
    color: #0E002D;
} 

/*main sectiones top oui oui madaaaammm*/
main section#top{
    padding: 4em 1em 3em 1em;
    background-color: var(--Midnight-Violet, #0E002D);
    background-image: url(../img/dark-section-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main section#top img{
    border-radius: 50em 50em 1.5em;
    max-width: 70vw;
}


/*main sectiones mywork ohmeeegaaawd*/
main section#mywork{
    padding: 3em 1em;
    background-color: var(--Magnolia, #F8F2FF);
    background: url(../img/light-section-background.png);
    background-size: cover;
    background-position: center;
}

main section#mywork > h2, main section#mywork > p{
    color: var(--Midnight-Violet, #0E002D);
}

main section#mywork > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0 0 0;
}

main > section#mywork section a:nth-of-type(1), main > section#mywork section a:nth-of-type(2), main > section#mywork section a:nth-of-type(3){
    margin: 0 0 1em 0;
}

main section#mywork section a div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 2em;
    padding: 0.75em 1em;
    background-color: var(--Magnolia, #F8F2FF);
    width: 92vw;
}

main section#mywork section a div h2, main section#mywork section a div h3, main section#mywork section a div h4, main section#mywork section a div p{
    color: var(--Midnight-Violet, #0E002D);
}

main section#mywork section a div img{
    border-radius: 0;
    margin: 0.6em 0 0 0;
}

/*main sectiones aboutme yaaaassqueeeen*/
main section#aboutme{
    padding: 3em 1em; 
    background-color: var(--Midnight-Violet, #0E002D);
}

main section#aboutme h2, h3, h4, p, q{
    color: var(--Magnolia, #F8F2FF);
}

main section#aboutme q{
    font-size: 1.5rem;
    line-height: 180%;
}

main section#aboutme section{
    display: flex;
    flex-direction: column;
    margin: 1em 0 0 0;
}

main section#aboutme section > p:first-of-type{
    margin: 0 0 0.5em 0;
}

main section#aboutme section > p{
    margin: 0.5em 0;
}

/*references*/
main section#aboutme section span:nth-of-type(1), main section#aboutme section span:nth-of-type(2), main section#aboutme section span:nth-of-type(3){
    margin: 1.5em 0;
}

main section#aboutme section span div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 0 0.5em 0;
}

main section#aboutme section span div img{
    max-width: 18vw;
    margin-right: 1em;
}

main section#aboutme q.references{
    font-size: 1.08rem;
}

/*main sectionieeee contact tring tring heellloooooooo*/
main section#contact{
    padding: 3em 1em; 
    background-color: var(--Morning-blues, #F8F2FF);
    background-image: url(../img/light-section-background.png);
    background-repeat: repeat-x;
    background-size: 70%;
}

main section#contact h3, main section#contact h4, main section#contact p, main section#contact a{
    color: var(--Midnight-Violet, #0E002D);
}

main section#contact div{
    margin: 0.5em 0 0 0; 
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
}

/*detail pagina shizzleees*/
body.detail h2{
    color: var(--Midnight-Violet, #0E002D);
}

body.detail main{
    background: url(../img/light-section-background.png) var(--Magnolia, #F8F2FF);
    background-position: center;
    background-repeat: repeat;
}

body.detail main section{
    padding: 3em 1em 0;
}

body.detail main section#top h4{
    color: var(--Magnolia, #F8F2FF);
}

body.detail main section h3, body.detail main section h4, body.detail main section p{
    color: var(--Midnight-Violet, #0E002D);
}

body.detail figure{
    color: var(--Morning-blues, #5115D5);
} 

body.detail main section > p, body.detail main section div > p{
    margin: 0 0 0.5em 0;
}

body.detail main section > section.flows{
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

body.detail main section > section.flows::-webkit-scrollbar{
    height: 1em;
    background-color: var(--Mauve, #D0BAFF);
    outline: none;
    border-radius: 2em;
}

body.detail main section > section.flows::-webkit-scrollbar-thumb {
    background-color: var(--Midnight-Violet, #0E002D);
    outline: none;
    border-radius: 2em;
}

body.detail main section > section.flows > figure{
    margin: 0 1em 0 0;
}

body.detail main section > section.flows > figure > img{
    width: 75vw;
    border-radius: 1em;
}

body.detail main > a{
    margin: 1em;
}

body.detail main section ol{
    margin: 0 0 0.5em 0;
    display: inline;
}

body.detail main section ol li{
    font-size: 1.125rem;
}
    
body.detail main section.otherwork{
    background-color: var(--Midnight-Violet, #0E002D);
    background-image: url(../img/dark-section-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 3em 0 0;
}

body.detail main section.otherwork h3, body.detail main section.otherwork h4, body.detail main section.otherwork p{
    color: var(--Magnolia, #F8F2FF);
}

body.detail main section.otherwork a{
    margin: 1em 0 0;
}

body.detail main section.otherwork a:last-of-type{
    margin: 1em 0;
}

body.detail main section.otherwork a > div{
    flex-direction: column;
    background: var(--Magnolia, #F8F2FF);
    border-radius: 2em;
    padding: 1em;       
    transition: .2s cubic-bezier(0,1,.35,1);
    height: 25em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body.detail main section.otherwork a > div:hover{
    transform: scale(1.01);
    background: url(../img/light-tegel-background.png) var(--Magnolia, #F8F2FF);
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
} 

body.detail main section.otherwork a > div > h3, body.detail main section.otherwork a > div > h4, body.detail main section.otherwork a > div > p{
    color: var(--Midnight-Violet, #0E002D);
    width: 100%;
}

/*footerrr yes yes*/
footer{
    padding: 1.5em 1em;
    background-color: var(--Midnight-Violet, #0E002D);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 801px) {
    /*algemene css*/
    h1{
        font-size: 3rem;
        font-weight: 800;
        line-height: 120%;
    }
    
    h2{
        font-weight: 700;
        font-size: 1.500rem;
    }
    
    h3{
        font-weight: 600;
        font-size: 1.500rem;
    }
    
    h4{
        font-weight: 500;
        font-size: 1.250rem;
    }
    
    p{
        font-size: 1.125rem;
    }
    
    figure{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }
    
    a.button-dark, a.button-light{
        border-radius: 50em;
        padding: 0.7em 1.5em;
        width: 10em;
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
    }
    
    img{
        max-width: 20em;
    }

    
    body.detail > main section figure img.modal-content{
        width: 95vh;
    }

    body.detail main section:nth-of-type(3) div.modal {
        display: none;
    }

    /*nav css*/
    header > nav{
        padding: 1em 20vw;
    }

    header > nav > a > img{
        width: 2em;
    }

    header > nav > ol > li{
        margin: 0 1em;
    }

    /*section padding*/
    main section#top, main section#mywork, main section#aboutme, main section#contact{
        padding: 4em 20vw;
    }

    footer{
        padding: 2em 20vw;
    }

    /*top sectie yassss*/
    main section#top{
        padding: 10em 20vw 7em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    main section#top > div{
        width: 38vw;
    }

    main section#top > div >h4{
        font-size: 1.65rem;
        line-height: 120%;
        margin: 1em 0;
    }

    main section#top img{
        max-width: 18em;
        margin: 0 4em 0 0;
    }

    /*work it sectiooooon*/
    main section#mywork{
        display: flex;
        flex-direction: column;
    }

    main section#mywork section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 60vw;
        margin-bottom: 5em;
    }

    main section#mywork section a div{
        width: 29vw;
        height: 25em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    main section#mywork section a:nth-of-type(2), main section#mywork section a:nth-of-type(4){
        transform: translateY(25%);
    }

    main section#mywork section a div{
        transition: .5s cubic-bezier(0,1,.35,1);
    }

    main section#mywork section a div:nth-of-type(2) :hover{
        transform: translateY(50%);
    }  

    main section#mywork section a div:hover,   main section#mywork section a div:nth-of-type(2) :hover{
        transform: scale(1.01);
        background: url(../img/light-tegel-background.png) var(--Magnolia, #F8F2FF);
        background-size: 200%;
        background-position: center;
        background-repeat: no-repeat;
    } 

    main section#mywork section a div h3, main section#mywork section a div h4{
        width: 100%;
    }

    main section#mywork section a div img{
        max-width: 25vw;
    }

    /*everything about meeee hi hi bitccchhh*/
    main section#aboutme section figure img{
        max-width: 60vw;
        margin: 0;
    }

    main section#aboutme > section:last-of-type > section {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main section#aboutme > section:last-of-type > section > span{
        width: 27vw;
    }

    main section#aboutme q.references{
        font-size: 1.125rem;
    }

    /*contact tring tring hiiii*/
    main section#contact div{
        width: 21em;
        margin: 1em 0 0;
    }

    /*detailpagina aaahouiii ahhouuui*/
    body.detail iframe{
        width: 60vw;
        height: 27em;
    }

    body.detail main section{
        padding: 5em 20vw 2em;
    }

    figure.userjourney{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    body.detail main section figure.userjourney > img{
        max-width: 29vw;
    }

    body.detail main section figure.userjourney > figcaption{
        width: 100%;
    }

    body.detail main section:nth-of-type(3) div{
        display: flex;
        justify-content: space-between;
    }

    body.detail main section:nth-of-type(3) div img{
        max-width: 25vw;
    }

    body.detail main section > section.flows{
        overflow-x: hidden;
    }

    body.detail main section > section.flows > figure{
        margin: 0;
        max-width: 28vw;
    }

    body.detail main section > section.flows > figure:nth-of-type(2){
        transform: translateY(50%);
    }

    body.detail main section > section.flows > figure > img{
        max-width: 28vw;
    }

    body.detail main section > img{
        max-width: 60vw;
    }

    body.detail main section > section.flows > figure > img.textcloud{
        max-width: 20vw;
    }

    body.detail main section span{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    body.detail main section span.wrap{
        margin: 0 0 1.5em 0;
        flex-wrap: wrap;
    }

    body.detail main section span > p{
        margin: 0 1em 0 0;
    }

    body.detail main section span figure{
        width: 28vw;
    }

    body.detail main section span figure > p{
        margin: 0 0 0.5em;
    }

    body.detail main section span.wrap figure{
        margin: 1em 0 0;
    }

    body.detail main section span figure.exception1{
        width: 20vw;
    }

    body.detail main section span figure.exception2{
        width: 35vw;
    }

    body.detail > main section figure img{
        max-width: 70vw;
    }
    
    body.detail main section figure img.textcloud{
    max-width: 30vw;
    }

    body.detail main > a{
        margin: 0 20vw 1em;
    }

    body.detail main section > section.flows{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    body.detail main section span:last-of-type figure img.poppetje{
        max-width: 50%;
        max-height: 20vw;
    }

    body.detail main section.otherwork{
        margin: 3em 0 0;
        padding: 3em 20vw 1em;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    body.detail main section.otherwork div{
        max-width: 28vw;
    }

    body.detail main section.otherwork h3{
        width: 100%;
    }

    body.detail main section.otherwork a{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    body.detail main section.otherwork a > div{
        flex-direction: column;
        background: var(--Magnolia, #F8F2FF);
        border-radius: 2em;
        padding: 1em;       
        transition: .2s cubic-bezier(0,1,.35,1);
        width: 29vw;
        height: 25em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    body.detail main section.otherwork a div img{
        max-width: 20vw;
    }

    /*foootttaaah*/
    footer > p{
        font-size: 0.9rem;
    }
}